
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excel Raporları</h1>

<br>

    <a href="/Excel/StaticExcelReport/" class="btn btn-outline-info"></a>
<br>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info">Tur Rotaları Excel Raporları</a>">Statik Excel Raporları</a>