
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf</a>

<br />

<a href="/PdfReport/StaticPdfReport2" class="btn btn-outline-primary">Statik Müşteri Pdf</a>
