@model Traversal.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <div class="form-group">
        @Html.Label("Alıcı Mail")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Konu")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <input type="text" asp-for="Body" class="form-control" />
    </div>
    <br />




    <button type="submit" class="btn btn-outline-success">Oluştur</button>
</form>