
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">


@await Html.PartialAsync("/Views/LayoutPartial/HeaderPartial.cshtml")

<body>
    <!--header-->
    @await Html.PartialAsync("/Views/LayoutPartial/NavbarPartial.cshtml")

    @RenderBody()
    @await Html.PartialAsync("/Views/LayoutPartial/FooterPartial.cshtml")


    <!-- Template JavaScript -->
    @await Html.PartialAsync("/Views/LayoutPartial/ScriptPartial.cshtml")

</body>

</html>
